#containerList {
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: transparent;
    width: 50%;
    height: 70%;
    overflow: auto;
}


.container {
    margin-top: 2%;

}
#boxesBand{
    background-image: url("/backgrounds/guitarBlur.jpg");
    /* width: 100%; */
    height: 150vh;
    background-size: contain;
    /* resize: both; */
    background-repeat: repeat;
}

#boxesMusicians{
    background-image: url("/backgrounds/speakerBlur.jpg");
    background-repeat: repeat;
    /* width: 100%; */
    height: 150vh;
    background-size: contain;
}

#boxesTaverns{
    background-image: url("/backgrounds/tavernBlur.jpg");
    background-repeat: repeat;
    /* width: 100%; */
    height: 150vh;
    background-size: contain;
}

#left{
    font-weight: bold;
    position: absolute;
    background-color:transparent;
    left: 5%;
    width: 20%;
    top: 2%;
    border-right-color: darkred;
    border-right: 6px solid;
}

/*button*/
#button {
    position: relative;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    width: 12%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3%;
}

#button2 {
    position: relative;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    width: 25%;
    height: 5%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3%;
}
  
.buttonView span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.buttonView span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.buttonView:hover span {
    padding-right: 10%;
}
  
.buttonView:hover span:after {
    opacity: 1;
    right: 0;
}

/**scrollbar/
/* width */
::-webkit-scrollbar {
    width: 1%;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5%;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(48, 111, 148); 
    border-radius: 5%;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(70, 171, 230); 
}
