.footer {
  width: 100%;
  background-color: #343a40;
  border-top: 1px solid rgb(70, 171, 230);
  padding: 40px 0;
  position: relative;
  color:white;
  font-family: 'Montserrat';
}
.center {
  max-width: 1220px;
  margin: 0 0 0 80px;
  width: 100%;
}
#cr{
  margin-left: 660px;
}
.clear {
  clear: both;
}
.footer .copyright {
  text-align: center;
  font-size: 11px;
  margin: 100px 0 0 0;
}
