.header {
    display: flex;
    width: 100%;
    background-color: #343a40;
    position: relative;
    margin-top: 0px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.logo_header {
    margin-left: 0%;
    margin-top: 0%;
    width: 0%;
    height: 100%;

}

.logo_header img {
    width: 4.9%;
    position: absolute;
}

.NB_css {
    width: 100%;
    margin: 0 0% 0 3%;
    height: 50px;
}

.NB_css ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0.75%;
    margin-left: 5%;
    font-weight: bold; 
}

.NB_css ul li {
    float: left;
    width: 15%;
    margin-top: -5px;
    text-size-adjust: inherit;
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.NB_css ul li a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

#viewProfile {
    margin-left: 10%;
}

.NB_css ul li:visited{
    color: white;
}

.NB_css ul li:hover{
    background-color: #ccccca;
    color: white;
}

