.ImgOnHomepage{
    width: 100%;
    margin: -50px 0 95px 0;
}

.ImgOnHomepage img{
    width: 100%;
    margin-top: -1%;
}

.btnLogIn {
    position: absolute;
    margin: 30% 0 0 -54.5%;
    padding: 5px 35px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-size: 25px;
}

.textBtn {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;

  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;

  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;

  }

.btnSignIn {
    position: absolute;
    margin: 35% 0 0 -55%;
    padding: 5px 35px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-size: 25px;
}
