#musicianAccount{
    position: absolute;
    background-color: transparent;
    left: 3%;
    width: 40%;
    top: 10%;
    height: 70%;
}

#commentSection{
    position: absolute;
    top: 10%;
    right: 3%;
    background-color: transparent;
    width: 50%;
    height: 70%;
    overflow: overlay;
}