#configureBtn{
  position: relative;
  left: 70%;
  margin-top: 7%;
  background-color: #343a40;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  width: 12%;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0.7%;
  transform: translate(70%, 100%);
}

#configureBtn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#configureBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#configureBtn:hover span {
  padding-right: 10%;
}

#configureBtn:hover span:after {
  opacity: 1;
  right: 0;
}