#configureBtn{
  position: relative;
  left: 70%;
  margin-bottom: 0.5%;
  /* margin-top: 7%; */
  background-color: #343a40;
  display: inline-block;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  width: 12%;
  transition: all 0.5s;
  cursor: pointer;
  padding: 3px;
  bottom: 50%;
  transform: translate(70%, 350%);
}

#configureBtn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#configureBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#configureBtn:hover span {
  padding-right: 10%;
}

#configureBtn:hover span:after {
  opacity: 1;
  right: 0;
}

#profile-img #fileDiv{
    position: relative;
    overflow: hidden;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 90%;
    background: #212529b8;
    color: white;
    top:50%;
    display: inline-block;
}
#fileDiv input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}

