#SliderComponent{
    position: relative;
    font-size: 20%;
    margin: auto;
    margin-top: 5%;
    color: royalblue;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    left: 0;
    top: 50%;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    top: 50%;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1px black;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  #dotDiv{
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -80%);
    padding: 3%;
  }
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  #firstDiv{
    background-color: grey;
  }
  .slides {
    position: relative;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }